<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title defer ><%= movie.title %> </title>
    <link rel="shortcut icon" href="../../public/images/icons8-monitor-16.png" type="image/x-icon">
</head>
<body>
    

    <header class="header">

        <a href="/" class="logo">
            <h1>Movies<span>Plat</span></h1>
        </a>

        <nav class="navbar">
                <a class="menu-link" href="/">home</a>
                <a class="menu-link" href="/movies/now_playing">nos cinemas</a>
                <div class="nav-item dropdown menu-link">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      filmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/movies/genre/28/?genero=ação">ação</a>
                      <a class="dropdown-item" href="/movies/genre/12/?genero=aventura">Aventura</a>
                      <a class="dropdown-item" href="/movies/genre/35/?genero=comédia">comédia</a>
                      <a class="dropdown-item" href="/movies/genre/16/?genero=animação">animação</a>
                    </ul>
                </div>
                <a class="menu-link" href="/series">séries</a>
        </nav>

        <div class="icons">
            <a href="#"><i class="far fa-user-circle"></i></a>
            <a href="#"><i class="fas fa-sign-in-alt"></i></a>
           <span><i class="fas fa-search" id="search"></i></span>
           <span><i class="fas fa-bars" id="menu-btn"></i></span> 
        </div>

        <div class="form-search">
            <form>
                <input class="form-input" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

    </header>