<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title defer ><%= movie.title %> </title>
</head>
<body>
    

    <header class="header">

        <a href="/movies" class="logo">
            <h1>Movies<span>Plat</span></h1>
        </a>

        <nav class="navbar">
                <a class="menu-link" href="/movies">home</a>
                <a class="menu-link" href="/movies/now_playing">nos cinemas</a>
                <div class="nav-item dropdown menu-link">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      filmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/movies/genre/28/?genero=ação">ação</a>
                      <a class="dropdown-item" href="/movies/genre/12/?genero=aventura">Aventura</a>
                      <a class="dropdown-item" href="/movies/genre/35/?genero=comédia">comédia</a>
                      <a class="dropdown-item" href="/movies/genre/16/?genero=animação">animação</a>
                    </ul>
                </div>
                <a class="menu-link" href="/series">séries</a>
        </nav>

        <div class="icons">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a> 
           <span><i class="fas fa-bars" id="menu-btn"></i></span> 
        </div>

        

    </header>