<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/styles/style.css">
    <title >Movies | Plat</title>
    <link rel="shortcut icon" href="../../public/images/icons8-monitor-16.png" type="image/x-icon">
</head>
<body>
    

    <header class="header">

        <a href="/movies" class="logo">
            <h1>Movies<span>Plat</span></h1>
        </a>

        <nav class="navbar">
                <a class="menu-link" href="/movies">home</a>
                <a class="menu-link" href="/movies/now_playing">nos cinemas</a>
                <a class="menu-link" href="/categories" >categorias</a>
                <a class="menu-link" href="/series">séries</a>
        </nav>

        <div class="icons">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a> 
           <span><i class="fas fa-bars" id="menu-btn"></i></span> 
        </div>

    </header>